body {
  background-image: url("/img/faded-office.png");
  height: 100vh;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  background-position-y: 15%;
}

.card {
  width: 70%;
  padding: 2em 4em;
}

.card-title {
  letter-spacing: 1px;
  font-size: 55px;
  color: #020202;
  margin-bottom: 1.5rem;
}
.card-desc {
  width: 300px;
  letter-spacing: 1px;
  line-height: 1.3;
  font-size: 22px;
  margin-top: 0;
}

span {
  border-bottom: 4px solid #0ea5e9;
}
.btn {
  background: #0ea5e9;
  color: #fff;
  border: 0;
  padding: 1em 2em;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1em;
}
